#pageTitle {
    padding-top: 40px;
    color: white;
    margin: 0 auto;
}


#itemName {
    position: absolute;
    left: 10px;
}

#life {
    position: absolute;
    right: 15px;
}

#itemDiv{
    margin: 0 auto;
    width: 50%;
    height: 200px;
    text-align: center;
}

#itemImage {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage1 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage2 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage3 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage4 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage5 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage6 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage7 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage8 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage9 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}
#itemImage10 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}
#itemImage11 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}


#binWrapper{
    position: absolute;
    bottom: 20%;
    width: 100%;
}

#binDiv {
    text-align: center;
}

#individualBinDiv{
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;
}

#scoreBoardWrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#scoreBoardNav {
    height: 10vh;
    color: white;
}

#scoreDiv{
    display: flex;
}

#helpBtn{
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

#leaderboardBtn{
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

.circle{
    border: solid 3px grey;
    border-radius: 50%;
    text-align: center;
    margin-left: 60px;
}

#restartBtn{
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

#finishBtn{
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

.scoreBox{
    border: solid 1px grey;
}

.bottomClass{
    border: solid 1px blue;
    display: inline-block;
}

.bins{
    width: 8vh;
    height: 12vh;
}

