.navbarText {
    color: white;
    text-decoration: underline;
}

#backgroundColor {
    background-image: linear-gradient(#059E00, #98E583);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#pageTitle {
    color: white;
    margin: 0 auto;
}

/* styling for overlay or game start menu */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

/* styling of start game text */
#text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 10vh;
    font-size: 10vw;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* styling of aurthor text */
#text2 {
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 2vh;
    font-size: 2vw;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* styling for overlay of recyclable */
#overlayCheck {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

/* styling for correct answer*/
#answerText {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 5vh;
    font-size: 5vw;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* styling for restarting game */
#overlayRestart {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2;
    cursor: pointer;
}

#itemName {
    position: absolute;
    left: 10px;
}

#life {
    position: absolute;
    right: 15px;
}

#itemDiv {
    margin: 0 auto;
    width: 50%;
    height: 200px;
    text-align: center;
}

#itemImage {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage1 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage2 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage3 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage4 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage5 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage6 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage7 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage8 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage9 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage10 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}

#itemImage11 {
    height: 15%;
    position: absolute;
    top: 20%;
    left: 48%;
    display: none;
}


#binWrapper {
    position: absolute;
    bottom: 20%;
    width: 100%;
}

#binDiv {
    text-align: center;
}

#individualBinDiv {
    display: inline-block;
    margin-left: 50px;
    font-size: 16px;
}

#individualBinDiv:hover {
    opacity: 0.1;
}

#scoreBoardWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#scoreBoardNav {
    height: 10vh;
    color: white;
}

#scoreDiv {
    display: flex;
}

#helpBtn {
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

#leaderboardBtn {
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

.circle {
    border: solid 3px grey;
    border-radius: 50%;
    text-align: center;
    margin-left: 60px;
}

#soundIcon {
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

#restartBtn {
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

#finishBtn {
    width: 1cm;
    height: 1cm;
    margin-left: 60px;
}

.bottomClass {
    border: solid 1px blue;
    display: inline-block;
}

.bins {
    width: 8vh;
    height: 12vh;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}