
h1 {
    color: black;
    font-size: 4vw;
    text-align: center;
    text-decoration: lightgrey;
    border: 0.5vh solid black;
 
}

body {
    background-image: url("../images/leaderboardB.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}


#back {
      width: 2vh;
    height: 7vh;
    text-decoration: none;
    text-emphasis-color: black;
    position: relative;
    cursor: pointer;
}


#backbutton{
    position: absolute;
    top: 12%;
    right:1%;

}

#list_div table {
    /** margin-left: 600px;*/
    margin: auto;
    border-style: double;
    border-color: darkcyan;
    background-color: lightgrey;
    height: 5vh;
    width: 8vw;

}

#list_div tr {
    
    border-style: double;
    border-color: light;
}

#list_div td {

    border-style: solid;
    border-color: black;
    font-size: 3vh;
    text-align: center;
}

#list_div tbody {
    
    border-style: solid;
    border-color: black;
    font-size: 3vh;
    text-align: center;
}

#list_div {
    position: absolute;
    height: 18vh;
    width: 11vw;
    left: 50%;
    top: 40%;
    margin-left: -6vw;
    margin-top: -9vh;

}
