#title{
    padding: 5%;
    font-size: 5vw;
    text-align: center;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: grey;
   
}
#background{
    background-image: url("../images/background.jpg");
   
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}