body{
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#pageTitle {
    padding-top: 40px;
    color: white;
    margin: 0 auto;
}

#bigBox {
    border: black;
    border-style: solid;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 300px;
}

#smallBox {
    border: black;
    border-style: solid;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 150px;
}

#boxTitle {
    padding: 50px;
    text-align: center;
    font-size: 50px;
}

#sortingGameStart {
    font-size: 25px;
    border: black;
    border-style: solid;
    text-align: center;
    width: 150px;
    margin: 0 auto;
}

#binBox {
    text-align: center;
}

#binPic {
    height: 120px;
    width: 400px;
}

#searchBox {
    border: black;
    border-style: solid;
    width: 350px;
    height: 60px;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

#searchImage {
    max-width: 50%;
    display: inline-block;
}

#searchText {
    max-width: 50%;
    display: inline-block;
}

#searchText {
    max-width: 40%;
}

#welcomeMessage {
    top: 30%;
    text-align: center;
    font-size: 30px;
}

#previousScore {
    padding: 0px;
    position: absolute;
    left: 170px;
    font-size: 20px;
}