body {
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#activeLink:hover {
    text-decoration: underline;
}

#pageTitle {
    padding-top: 40px;
    color: white;
    margin: 0 auto;
}

#bigBox {
    border: solid 2px black;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 300px;
}

#smallBox {
    border: solid 2px black;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 150px;
}

#boxTitle {
    padding: 50px;
    text-align: center;
    font-size: 50px;
}

#boxTitleLessPadding {
    padding: 30px;
    text-align: center;
    font-size: 50px;
}

#sortingGameStart {
    border: solid 3px black;
    border-radius: 10px;
    width: 150px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    line-height: 80px;
}

#sortingGameStart:hover {
    border-width: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
}

#binBox {
    text-align: center;
}

#binPic {
    height: 120px;
    width: 400px;
}

#searchBox {
    border: black;
    border-style: solid;
    width: 350px;
    height: 60px;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

#searchImage {
    position: relative;
    top: 10%;
    left: 8%;
    max-width: 50%;
    display: inline-block;
}

#searchText {
    max-width: 50%;
    display: inline-block;
}

#searchText {
    max-width: 40%;
}

#welcomeMessage {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 0%;
    right: 1%;
}

#previousScore {
    padding: 0px;
    position: absolute;
    left: 170px;
    font-size: 20px;
}