#pageTitle{
    padding-top: 40px;
    color: white;
    margin: 0 auto;
}
#login{
    color: white;
    position: absolute;
    right: 1%;
    bottom: 5%;
}
#bigBox{
    border: black;
    border-style: solid;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 300px;
}
#smallBox{
    border: black;
    border-style: solid;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 150px;
}
#boxTitle {
    padding: 50px;
    text-align: center;
    font-size: 50px;
}
#sortingGameStart {
    border: black;
    border-style: solid;
    text-align: center;
    width: 150px;
    margin: 0 auto;
}
#binBox {
    text-align: center;
}
#binPic {
    height: 120px;
    width: 400px;
}

#searchBox {
    border: black;
    border-style: solid;
    width: 350px;
    height: 60px;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

#searchImage {
    max-width: 50%;
    display: inline-block;
}
#searchText {
    max-width: 50%;
    display: inline-block;
}
#searchText{
    max-width: 40%;
}
#welcomeMessage{
    top: 30%;
    text-align: center;
    font-size: 30px;
}
#previousScore{
    position: absolute;
    left: 170px;
}
#itemName{
    position: absolute;
    left: 10px;
}
#itemImage{
    height:15%;
    position: absolute;
    top:20%;
    left:45%;
    
}
#itemImage1{
    height:15%;
    position: absolute;
    top:20%;
    left:48%;
    
}
#bins{
    position: absolute;
    bottom:10%;
    height:20%;
}
#scoreBoard{
    position: absolute;
    bottom:5%;
    color: white;
}
